# Compilação e build
/target/
/build/
/bin/
/out/

# IDEs
.idea/
*.iml
.vscode/
/.settings/
.classpath
.project
*report.htm

# Arquivos gerados
*.class
*.jar
*.war
*.log
*.tmp
*.bak
*.swp
*hs_err_pid18204.log

# Testes
/test-output/
/allure-results/
/allure-report/
/cucumber-reports/

# Sistema
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Gradle
.gradle/